* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Fredoka", sans-serif;
}

header {
    text-align: center;
    color: #E53170;
    margin-top: 40px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.text-description {
    text-align: center;
    margin-top: 70px;
    font-size: 18px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 60px;
}

.col {
    width: calc((100% - 20px) / 3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 350px
}
    


.card {
    display: flex;
    background-color: black;
    color: #fff;
    width: 100%;
}

.dati {
    margin-left: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

img {
    width: 120px;
    height: auto;
    display: block
}

h3 {
    font-size: large;
    font-weight: 800;
}

.email {
    color: #6ECBF2;
}

.box-form {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

h5 {
    text-align: center;
    margin-top: 70px;
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 40%;
    margin-bottom: 50px;
}

.form input {
    padding: 6px 0px;
    text-align: center;
}

.box-btn {
    text-align: center;
    margin-top: 30px;
}

.button {
    padding: 10px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 20px;
}

/* RESPONSIVE  */

@media screen and (max-width: 992px) {
    .col {
        width: calc((100% - 10px) / 2);
    }
    
    
}

@media screen and (max-width: 768px) {
    .col {
        width: 100%;
    }
    
    
}

